@import url("//fonts.googleapis.com/css?family=Ubuntu: 300italic,400italic,700italic,300,400,700");
@import url("//fonts.googleapis.com/css?family=Source Code Pro: 400,500,700");

body {
  font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code, kbd, pre, samp {
  font-family: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;
  font-weight: 500;
}

body aside {
  background: #f7f5fa;
  bottom: 0px;
  left: 0px;
  position: relative;
  text-align: center;
  top: 0px;
  width: auto;
}

body aside header {
  padding-top: 20px;
}

@media (min-width: 600px) {
  body aside {
    position: fixed;
    width: 320px;
  }
}

body aside h2 {
  margin-top: 0;
}

body aside,
body aside a,
body aside a:visited {
  color: #716b7a;
}

body aside a:hover,
body aside a:focus {
  color: #2a6496;
  text-decoration: none;
  font-weight: 500;
}

body aside header h1 a:hover,
body aside header h1 a:focus {
  font-weight: 500;
}

body main article {
  padding: 0 10px 10px;
}

@media (min-width: 600px) {
  body main {
    margin: 0 0 0 320px;
  }

  body main article {
    padding: 0 50px 50px;
  }
}

body main article div p {
  padding-top: 10px;
}

@media(min-width: 600px) {
  body aside > footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
  }
}

@media(min-width: 600px) {
  aside#foot {
    top: inherit;
  }
}

aside#head {
  padding-bottom: 20px;
}

.about {
  margin: 0 50px;
  padding-top: 10px;
}

.about a {
  text-decoration: underline;
}

.about a:hover,
.about a:focus {
  font-weight: 300;
}

.links {
  padding: 20px 0;
}

.links a:not(:last-child) {
  padding-right: 10px;
}

.pages {
  font-size: 0.85em;
  padding-top: 20px;
}

.pages ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 2px 0;
}

.tag-list .tag {
  font-size: 10px;
}

.callout {
  background-color: #f4f8fa;
  border-left: 3px solid #bce8f1;
  margin: 5px auto 20px;
  padding: 20px;
}

.callout:last-child {
  margin-bottom: 5px;
}

.callout h4 {
  color: #34789a;
  margin-top: 0;
  margin-bottom: 5px;
}

.callout h4 a {
  color: maroon;
}

.callout p {
  margin: 0 0 10px;
}

.callout p:last-child {
  margin-bottom: 0;
}

/* Bootstrap overrides */
.panel-default > .panel-heading {
  background-color: #f7f5fa;
}
