---
layout: default
title: Curriculum vitae
permalink: /cv.html

work:
- title: Professional Experience
  entries:
  - name: Lokalebasen
    url: https://www.lokalebasen.dk
    place: Copenhagen, Denmark
    position: Developer / DevOps
    start_time: July 2014
    end_time: December 2015
    tags:
    - Ruby on Rails
    - PostgreSQL
    - Docker
    - Git
    - CoffeeScript
    - KnockoutJS
    - SASS
    - Go
    - Elixir
    - Chef
  - name: Autobutler
    url: https://www.autobutler.dk
    place: Copenhagen, Denmark
    position: Lead developer
    start_time: September 2012
    end_time: July 2014
    tags:
    - Ruby on Rails
    - PostgreSQL
    - Heroku
    - Git
    - HTML5
    - Bootstrap
    - jQuery
    - KnockoutJS
    - Grape

hobby:


other:
- title: Service
  entries:
  - name: Moderator on MetaRuby.com
    time: 2016 - present
    description: Moderate people on the forum as well as actively posting
    url: https://metaruby.com/
  - name: Moderator on RailsForum.com
    time: 2014 - 2017
    description: Moderate people on the forum as well as actively posting
    url: https://railsforum.com/
- title: Technical Skills
  entries:
  - name: Programming
    tags:
    - Ruby
    - Rails
    - Elixir
    - Go
    - CoffeeScript
    - JavaScript
    - C++
    - UNIX shell scripting (Bash)
    - PostgreSQL
  - name: Other technologies
    tags:
    - HTML5
    - CSS3
    - SASS
    - Bootstrap
    - Git
    - Docker
    - Chef
    - Heroku
  - name: Languages
    tags:
    - Danish (native)
    - English (fluent)

---

<div class="page-header">
  <h1>
    <i class="fa fa-suitcase"></i>
    Curriculum vitae
  </h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Education</h3>
  </div>
  <div class="panel-body">

    <div class="callout">
      <h4 class="lead">
        <a href="http://nbi.ku.dk">Niels Bohr Institute</a>, Copenhagen, Denmark
      </h4>

      <div class="clearfix">
        <em>Ph.D. student</em>
        <span class="pull-right">
          <time>January 2016</time> - <time>present</time>
        </span>
      </div>

      <p>
        &mdash; Working title: <em>Concurrent Parallelism: an adventure into the world of parallel I/O and computations</em>
      </p>

      <p>
        Adviser: Prof. Brian Vinter
      </p>
    </div>

    <div class="callout">
      <h4 class="lead">
        <a href="http://www.diku.dk">Copenhagen University</a>, Copenhagen, Denmark
      </h4>

      <div class="clearfix">
        <em>Cand.scient., Department of Computer Science</em>
        <span class="pull-right">
          <time>September 2010</time> - <time>September 2012</time>
        </span>
      </div>

      <p>
        &mdash; Master thesis: <a href="/files/thesis.pdf">Exception Handling in Communicating Sequential Processes</a> (<a href="/files/thesisslides.pdf">Slides</a>)
        <br>
        &mdash; Published in <a href="http://wotug.org/paperdb/show_proc.php?f=4&num=29">Communicating Process Architectures 2012</a>
      </p>

      <p>
        Adviser: Prof. Brian Vinter
      </p>

      <hr>

      <div class="clearfix">
        <em>Bach.scient., Department of Computer Science</em>
        <span class="pull-right">
          <time>September 2007</time> - <time>July 2010</time>
        </span>
      </div>

      <p>
        &mdash; Bachelor thesis: <a href="/files/bachelors.pdf">Korte Kurver på Krumme Flader (Shortest Geodesics on Planes)</a>
      </p>

      <p>
        Adviser: Prof. Knud Henriksen
      </p>
    </div>

  </div>
</div>

{% for thing in page.work %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ thing.title }}</h3>
    </div>
    <div class="panel-body">
      {% for entry in thing.entries %}
        <div class="callout">
          <h4 class="lead">
            <a href="{{ entry.url }}">{{ entry.name }}</a>, {{ entry.place}}
          </h4>

          <div class="clearfix">
            <em>{{ entry.position }}</em>
            <span class="pull-right">
              <time>{{ entry.start_time }}</time> - <time>{{ entry.end_time }}</time>
            </span>
          </div>

          <div class="tags">
            {% for tag in entry.tags %}
              <span class="label label-primary">{{ tag }}</span>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}

{% for thing in page.hobby %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ thing.title }}</h3>
    </div>
    <div class="panel-body">
      {% for entry in thing.entries %}

        <div class="callout">
          <h4 class="lead">
            <a href="{{ entry.url }}">{{ entry.name }}</a>
          </h4>

          <div class="clearfix">
            <em>{{ entry.description }}</em>
            <span class="pull-right">
              <time>{{ entry.time }}</time>
            </span>
          </div>

          <div class="tags">
            {% for tag in entry.tags %}
              <span class="label label-primary">{{ tag }}</span>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}

{% for thing in page.other %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ thing.title }}</h3>
    </div>
    <div class="panel-body">
      {% for entry in thing.entries %}

        <div class="callout">
          <h4 class="lead">
            {% if entry.url %}
              <a href="{{ entry.url }}">{{ entry.name }}</a>
            {% else %}
              {{ entry.name }}
            {% endif %}
          </h4>

          <div class="clearfix">
            {% if entry.description %}
              <em>{{ entry.description }}</em>
            {% endif %}

            <div class="tags">
              {% for tag in entry.tags %}
                <span class="label label-primary">{{ tag }}</span>
              {% endfor %}
            </div>

            {% if entry.time %}
              <span class="pull-right">
                <time>{{ entry.time }}</time>
              </span>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
