---
layout: default
title: Curriculum vitae
permalink: /cv.html

work:
- title: Professional Experience
  entries:
  - name: Lokalebasen
    url: https://www.lokalebasen.dk
    place: Copenhagen, Denmark
    position: Developer / DevOps
    start_time: July 2014
    end_time: December 2015
    tags:
    - Ruby on Rails
    - PostgreSQL
    - Docker
    - Git
    - CoffeeScript
    - KnockoutJS
    - SASS
    - Go
    - Elixir
    - Chef
  - name: Autobutler
    url: https://www.autobutler.dk
    place: Copenhagen, Denmark
    position: Lead developer
    start_time: September 2012
    end_time: July 2014
    tags:
    - Ruby on Rails
    - PostgreSQL
    - Heroku
    - Git
    - HTML5
    - Bootstrap
    - jQuery
    - KnockoutJS
    - Grape
  - name: EasyCoaching
    url: http://www.easycoaching.dk
    place: Copenhagen/Aalborg, Denmark
    position: Co-owner, developer, and server administrator
    start_time: June 2011
    end_time: June 2013
    tags:
    - PHP
    - Apache
    - jQuery
    - MySQL
  - name: NaviPartner
    url: http://www.navipartner.dk
    place: Copenhagen, Denmark
    position: Part-time web developer
    start_time: August 2009
    end_time: July 2012
    tags:
    - Web shops
    - PHP
    - MySQL
    - MSSQL
    - Microsoft Dynamics NAV

hobby:
- title: Hobby Projects
  entries:
  - name: Sorteringsguide
    url: http://www.sorteringsguide.dk
    description: Lookup system for Vestforbrænding and all recycling centers in Northern Zealand (no longer maintained)
    time: Autumn 2013
    tags:
    - Ruby on Rails
    - KnockoutJS
    - Caching
    - Bootstrap
    - Heroku
    - Git
  - name: Køkken 400 Ølloge
    url: http://kk400.herokuapp.com
    description: Accounting system for dormitory
    time: Summer 2013
    tags:
    - Ruby on Rails
    - Bootstrap
    - Heroku
    - Git
    - HighCharts

other:
- title: Service
  entries:
  - name: Moderator on MetaRuby.com
    time: 2016 - present
    description: Moderate people on the forum as well as actively posting
    url: https://metaruby.com/
  - name: Moderator on RailsForum.com
    time: 2014 - 2017
    description: Moderate people on the forum as well as actively posting
    url: https://railsforum.com/
  - name: Memeber of the network group at Prof. Ostenfeld Dormitory
    time: 2009 - February 2013
    description: Managed the Internet services for about 300 rooms
- title: Technical Skills
  entries:
  - name: Programming
    tags:
    - Ruby
    - Rails
    - Elixir
    - Go
    - Python
    - CoffeeScript
    - JavaScript
    - C++
    - UNIX shell scripting (Bash)
    - SQL
  - name: Other technologies
    tags:
    - HTML5
    - CSS3
    - SASS
    - jQuery
    - Bootstrap
    - Git
    - GitHub
    - Docker
    - Chef
    - Heroku
    - PostgreSQL
  - name: Computer Applications
    tags:
    - Atom
    - Sublime Text
    - Vim
    - Mac OS X
    - Linux (mostly dealt with Ubuntu)
    - Common applications in Windows (XP through 7)
  - name: Languages
    tags:
    - Danish (native)
    - English (fluent)

---

<div class="page-header">
  <h1>
    <i class="fa fa-suitcase"></i>
    Curriculum vitae

    <small>
      <a href="/files/cv.pdf"><i class="fa fa-download"></i> (PDF)</a>
    </small>
  </h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Education</h3>
  </div>
  <div class="panel-body">

    <div class="callout">
      <h4 class="lead">
        <a href="http://nbi.ku.dk">Niels Bohr Institute</a>, Copenhagen, Denmark
      </h4>

      <div class="clearfix">
        <em>Ph.D. student</em>
        <span class="pull-right">
          <time>January 2016</time> - <time>present</time>
        </span>
      </div>

      <p>
        &mdash; Working title: <em>Algebraic Transformation of Descriptive Vector Byte-code Sequences</em>
      </p>

      <p>
        Adviser: Prof. Brian Vinter (<a href="/files/cv.pdf" title="Why? To not expose my contacts details to spambots and the like.">See PDF</a>)
      </p>
    </div>

    <div class="callout">
      <h4 class="lead">
        <a href="http://www.diku.dk">Copenhagen University</a>, Copenhagen, Denmark
      </h4>

      <div class="clearfix">
        <em>Cand.scient., Department of Computer Science</em>
        <span class="pull-right">
          <time>September 2010</time> - <time>September 2012</time>
        </span>
      </div>

      <p>
        &mdash; Master thesis: <a href="/files/thesis.pdf">Exception Handling in Communicating Sequential Processes</a> (<a href="/files/thesisslides.pdf">Slides</a>)
        <br>
        &mdash; Published in <a href="http://wotug.org/paperdb/show_proc.php?f=4&num=29">Communicating Process Architectures 2012</a>
      </p>

      <p>
        Adviser: Prof. Brian Vinter (<a href="/files/cv.pdf" title="Why? To not expose my contacts details to spambots and the like.">See PDF</a>)
      </p>

      <hr>

      <div class="clearfix">
        <em>Bach.scient., Department of Computer Science</em>
        <span class="pull-right">
          <time>September 2007</time> - <time>July 2010</time>
        </span>
      </div>

      <p>
        &mdash; Bachelor thesis: <a href="/files/bachelors.pdf">Korte Kurver på Krumme Flader (Shortest Geodesics on Planes)</a>
      </p>

      <p>
        Adviser: Prof. Knud Henriksen (<a href="/files/cv.pdf" title="Why? To not expose my contacts details to spambots and the like.">See PDF</a>)
      </p>
    </div>

  </div>
</div>

{% for thing in page.work %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ thing.title }}</h3>
    </div>
    <div class="panel-body">
      {% for entry in thing.entries %}
        <div class="callout">
          <h4 class="lead">
            <a href="{{ entry.url }}">{{ entry.name }}</a>, {{ entry.place}}
          </h4>

          <div class="clearfix">
            <em>{{ entry.position }}</em>
            <span class="pull-right">
              <time>{{ entry.start_time }}</time> - <time>{{ entry.end_time }}</time>
            </span>
          </div>

          <div class="tags">
            {% for tag in entry.tags %}
              <span class="label label-primary">{{ tag }}</span>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}

{% for thing in page.hobby %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ thing.title }}</h3>
    </div>
    <div class="panel-body">
      {% for entry in thing.entries %}

        <div class="callout">
          <h4 class="lead">
            <a href="{{ entry.url }}">{{ entry.name }}</a>
          </h4>

          <div class="clearfix">
            <em>{{ entry.description }}</em>
            <span class="pull-right">
              <time>{{ entry.time }}</time>
            </span>
          </div>

          <div class="tags">
            {% for tag in entry.tags %}
              <span class="label label-primary">{{ tag }}</span>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}

{% for thing in page.other %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ thing.title }}</h3>
    </div>
    <div class="panel-body">
      {% for entry in thing.entries %}

        <div class="callout">
          <h4 class="lead">
            {% if entry.url %}
              <a href="{{ entry.url }}">{{ entry.name }}</a>
            {% else %}
              {{ entry.name }}
            {% endif %}
          </h4>

          <div class="clearfix">
            {% if entry.description %}
              <em>{{ entry.description }}</em>
            {% endif %}

            <div class="tags">
              {% for tag in entry.tags %}
                <span class="label label-primary">{{ tag }}</span>
              {% endfor %}
            </div>

            {% if entry.time %}
              <span class="pull-right">
                <time>{{ entry.time }}</time>
              </span>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
