---
layout: default
title: Curriculum vitae

work:
- title: Professional Experience
  entries:
  - name: Lokalebasen
    url: http://www.lokalebasen.dk
    place: Copenhagen, Denmark
    position: Developer
    start_time: July 2014
    end_time: present
    technologies: Ruby on Rails, PostgreSQL, Git, CoffeeScript, KnockoutJS, Go, Erlang, and more
  - name: Autobutler
    url: http://www.autobutler.dk
    place: Copenhagen, Denmark
    position: Lead developer
    start_time: September 2012
    end_time: July 2014
    technologies: Ruby on Rails, PostgreSQL, Heroku, Git, HTML5, Bootstrap, jQuery, KnockoutJS, Grape, and more
  - name: EasyCoaching
    url: http://www.easycoaching.dk
    place: Copenhagen/Aalborg, Denmark
    position: Co-owner, developer, and server administrator
    start_time: June 2011
    end_time: June 2013
    technologies: PHP, Apache, jQuery, MySQL
  - name: NaviPartner
    url: http://www.navipartner.dk
    place: Copenhagen, Denmark
    position: Part-time web developer
    start_time: August 2009
    end_time: July 2012
    technologies: Web shops, PHP, MySQL, MSSQL, Microsoft Dynamics NAV

hobby:
- title: Hobby Projects
  entries:
  - name: Sorteringsguide
    url: http://www.sorteringsguide.dk
    description: Lookup system for Vestforbrænding and all recycling centers in Northern Zealand
    time: Autumn 2013
    technologies: Rails 4, KnockoutJS, Caching, Bootstrap, Heroku, Git
  - name: Køkken 400 Ølloge
    url: http://kk400.herokuapp.com
    description: Accounting system for dormitory
    time: Summer 2013
    technologies: Rails 4, Bootstrap, Heroku, Git, HighCharts

other:
- title: Service
  entries:
  - name: Memeber of the network group at Prof. Ostenfeld Dormitory
    time: 2009 - February 2013
    description: Managed the Internet services for about 300 rooms
- title: Technical Skills
  entries:
  - name: Programming
    description: Ruby, Rails 3 &amp; 4, Python, PHP, JavaScript, C++, UNIX shell scripting (Bash), SQL, and others
  - name: Other technologies
    description: HTML5, CSS3, jQuery, Bootstrap, Git, GitHub, Heroku, PostgreSQL, and others
  - name: Computer Applications
    description: Vim, Sublime Text, common application in Windows (XP through 7), Linux (Ubuntu), and Mac OS X
  - name: Languages
    description: Danish (native), English (fluent)

---

<div class="page-header">
  <h1>
    <i class="fa fa-suitcase"></i>
    Curriculum vitae

    <small>
      <a href="/files/cv.pdf"><i class="fa fa-download"></i> (PDF)</a>
    </small>
  </h1>
</div>

{% for thing in page.work %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ thing.title }}</h3>
    </div>
    <div class="panel-body">
      {% for entry in thing.entries %}

        <div class="callout">
          <h4>
            <a href="{{ entry.link }}">{{ entry.name }}</a>, {{ entry.place}}
          </h4>

          <div class="clearfix">
            <em>{{ entry.position }}</em>
            <span class="pull-right">
              <time>{{ entry.start_time }}</time> - <time>{{ entry.end_time }}</time>
            </span>
          </div>

          <p>
            &mdash; {{ entry.technologies }}
          </p>

          <p>
            Contact: <a href="/files/cv.pdf" title="Why? To not expose my contacts details to spambots and the like.">See PDF</a>
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Education</h3>
  </div>
  <div class="panel-body">

    <div class="callout">
      <h4>
        <a href="http://www.diku.dk">Copenhagen University</a>, Copenhagen, Denmark
      </h4>

      <div class="clearfix">
        <em>Cand.scient., Department of Computer Science</em>
        <span class="pull-right">
          <time>September 2010</time> - <time>September 2012</time>
        </span>
      </div>

      <p>
        &mdash; Master thesis: <a href="/files/thesis.pdf">Exception Handling in Communicating Sequential Processes</a> (<a href="/files/thesisslides.pdf">Slides</a>)
        <br>
        &mdash; Published in <a href="http://wotug.org/paperdb/show_proc.php?f=4&num=29">Communicating Process Architectures 2012</a>
      </p>

      <p>
        Adviser: Brian Vinter (<a href="/files/cv.pdf" title="Why? To not expose my contacts details to spambots and the like.">See PDF</a>)
      </p>

      <div class="clearfix">
        <em>Bach.scient., Department of Computer Science</em>
        <span class="pull-right">
          <time>September 2007</time> - <time>July 2010</time>
        </span>
      </div>

      <p>
        &mdash; Bachelor thesis: <a href="/files/bachelors.pdf">Korte Kurver på Krumme Flader (Shortest Geodesics on Planes)</a>
      </p>

      <p>
        Adviser: Knud Henriksen (<a href="/files/cv.pdf" title="Why? To not expose my contacts details to spambots and the like.">See PDF</a>)
      </p>
    </div>

    <div class="callout">
      <h4>
        <a href="http://rts.dk/uddannelserhoved/htx">Roskilde Technical College</a>, Roskilde, Denmark
      </h4>

      <div class="clearfix">
        <em>Service and communication line</em>
        <span class="pull-right">
          <time>September 2004</time> - <time>July 2007</time>
        </span>
      </div>
    </div>

  </div>
</div>

{% for thing in page.hobby %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ thing.title }}</h3>
    </div>
    <div class="panel-body">
      {% for entry in thing.entries %}

        <div class="callout">
          <h4>
            <a href="{{ entry.link }}">{{ entry.name }}</a>
          </h4>

          <div class="clearfix">
            <em>{{ entry.description }}</em>
            <span class="pull-right">
              <time>{{ entry.time }}</time>
            </span>
          </div>

          <p>
            &mdash; {{ entry.technologies }}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}

{% for thing in page.other %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ thing.title }}</h3>
    </div>
    <div class="panel-body">
      {% for entry in thing.entries %}

        <div class="callout">
          <h4>
            {{ entry.name }}
          </h4>

          <div class="clearfix">
            <em>{{ entry.description }}</em>
            {% if entry.time %}
              <span class="pull-right">
                <time>{{ entry.time }}</time>
              </span>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
