      </article>
    </main>

    <aside id="foot">
      <footer>
        <nav class="pages">
          <ul class="nav nav-pills nav-stacked">
            {% assign url = page.url|remove:'index.html' %}
            {% for link in site.navigation %}
              <li role="presentation" {% if url == link.url %} class="current"{% endif %}>
                <a href="{{ link.url }}"{% if link.title %} title="{{ link.title }}"{% endif %}>
                  <i class="fa fa-2x fa-fw {{ link.symbol }}"></i> {{ link.text }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>

        <nav class="links">
          <a href="//github.com/omegahm">
            <i class="fa fa-github-square fa-2x"></i>
          </a>

          <a href="//facebook.com/omegahm">
            <i class="fa fa-facebook-square fa-2x"></i>
          </a>

          <a href="//twitter.com/madsohm">
            <i class="fa fa-twitter-square fa-2x"></i>
          </a>

          <a href="//dk.linkedin.com/in/madsohm">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>

          <a href="https://plus.google.com/+MadsOhmLarsen" rel="author">
            <i class="fa fa-google-plus-square fa-2x"></i>
          </a>
        </nav>
        <p>
          <small>
            Hosted on GitHub Pages
          </small>
        </p>
        <ins class="adsbygoogle"
               style="display:inline-block;width:160px;height:90px"
               data-ad-client="ca-pub-0344007993956524"
               data-ad-slot="6135130548"></ins>
      </footer>
    </aside>

    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script>
      {% if page.id %}
        var disqus_shortname  = 'omegahm';
        var disqus_title      = '{{ page.title }}';
        var disqus_identifier = '{{ page.url }}';
        var disqus_url        = 'http://{{ site.host }}{{ page.url }}';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      {% endif %}
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </body>
</html>
