        <ins class="adsbygoogle" style="margin:auto;display:block;width:728px;height:90px" data-ad-client="ca-pub-0344007993956524" data-ad-slot="3984940544"></ins>
      </article>
    </main>

    <aside id="foot">
      <footer>
        <nav class="pages">
          <ul>
            <li>
              <a href="/">
                <i class="fa fa-pencil"></i> Blog
              </a>
            </li>

            <li>
              <a href="/cv.html">
                <i class="fa fa-star"></i> CV
              </a>
            </li>

            <li>
              <a href="/wishlist.html">
                <i class="fa fa-gift"></i> Wish-list
              </a>
            </li>

            <li>
              <a href="/files/bachelors.pdf" title="Korte Kurver på Krumme Flader">
                <i class="fa fa-flask"></i> Bachelor Thesis
              </a>
            </li>

            <li>
              <a href="/files/thesis.pdf" title="Exception Handling in CSP">
                <i class="fa fa-flask"></i> Master Thesis
              </a>
              <a href="/files/thesisslides.pdf">(Slides)</a>
            </li>
          </ul>
        </nav>

        <nav class="links">
          <a href="//github.com/omegahm">
            <i class="fa fa-github-square fa-2x"></i>
          </a>

          <a href="//facebook.com/omegahm">
            <i class="fa fa-facebook-square fa-2x"></i>
          </a>

          <a href="//twitter.com/madsohm">
            <i class="fa fa-twitter-square fa-2x"></i>
          </a>

          <a href="//dk.linkedin.com/in/madsohm">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>

          <a href="https://plus.google.com/u/1/101353225056422469688?rel=author">
            <i class="fa fa-google-plus-square fa-2x"></i>
          </a>
        </nav>
        <p>
          <small>
            Hosted on GitHub Pages
          </small>
        </p>
      </footer>
    </aside>

    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
