        <ins class="adsbygoogle" style="margin:20px auto 0;display:block;width:728px;height:90px;" data-ad-client="ca-pub-0344007993956524" data-ad-slot="3984940544"></ins>
      </article>
    </main>

    <aside id="foot">
      <footer>
        <nav class="pages">
          <ul>
            {% assign url = page.url|remove:'index.html' %}
            {% for link in site.navigation %}
              <li{% if url == link.url %} class="current"{% endif %}>
                <a href="{{ link.url }}"{% if link.title %} title="{{ link.title }}"{% endif %}>
                  <i class="fa {{ link.symbol }}"></i> {{ link.text }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>

        <nav class="links">
          <a href="//github.com/omegahm">
            <i class="fa fa-github-square fa-2x"></i>
          </a>

          <a href="//facebook.com/omegahm">
            <i class="fa fa-facebook-square fa-2x"></i>
          </a>

          <a href="//twitter.com/madsohm">
            <i class="fa fa-twitter-square fa-2x"></i>
          </a>

          <a href="//dk.linkedin.com/in/madsohm">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>

          <a href="https://plus.google.com/u/1/101353225056422469688?rel=author">
            <i class="fa fa-google-plus-square fa-2x"></i>
          </a>
        </nav>
        <p>
          <small>
            Hosted on GitHub Pages
          </small>
        </p>
      </footer>
    </aside>

    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
