<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | {{ site.website }}</title>

    <link rel="icon" type="image/png" href="/img/favicon.png" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="author" href="https://plus.google.com/u/1/101353225056422469688">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43929022-2', 'ohm.sh');
      ga('send', 'pageview');
    </script>

    {% if page.id %}
      <script>
        var disqus_shortname  = 'omegahm';
        var disqus_title      = '{{ page.title }}';
        var disqus_identifier = '{{ page.url }}';
        var disqus_url        = 'http://{{ site.host }}{{ page.url }}';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
    {% endif %}
  </head>
  <body itemscope itemtype="http://schema.org/Blog">
    <aside id="head">
      <header>
        <h2 itemprop="name">
          <a href="/" itemprop="url">
            {{ site.name }}
          </a>
        </h2>

        <p>My little corner of the web</p>

        <span itemprop="author" itemscope="author" itemtype="http://schema.org/Person">
          <img src="/img/face.jpeg" class="img-circle" alt="Ohm" itemprop="image" />

          <p class="about">
            <small>
              <span itemprop="name">Mads Ohm Larsen</span>,
              <span itemprop="description">
                lead developer at <a href="http://www.autobutler.dk" target="_blank" itemprop="worksFor">Autobutler.dk</a>,
                Ruby on Rails magician, fun at work, <a href="http://projecteuler.net/profile/omegahm.png" taget="_blank" itemprop="award">trying hard</a> or <a href="http://www.codewars.com/users/omegahm">hardly trying</a>.
                Active member of <a href="https://railsforum.com/" target="_blank">RailsForum</a>
              </span>
            </small>
          </p>
        </span>
      </header>
    </aside>

    <main>
      <article>
