<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | {{ site.website }}</title>
    <meta name="description" content="{% if page.id %}{{ page.title }} - {{ page.metadescription }}{% else %}{{ site.metadescription }}{% endif %}">

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

    <link rel="stylesheet" href="/css/bundle.css" async>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body itemscope itemtype="https://schema.org/Blog">
    <aside id="head">
      <header>
        <h2 itemprop="name">
          <a href="/" itemprop="url">
            {{ site.name }}
          </a>
        </h2>

        <p>{{ site.description }}</p>

        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
          <meta itemprop="url" content="https://ohm.sh">
          <img src="/img/face.jpeg" class="img-circle" alt="Ohm" itemprop="image" width="120" height="120">

          <p class="about">
            <small>
              <span class="name" itemprop="name">Mads Ohm Larsen, PhD</span>
              <br>

              <span itemprop="description">
                Senior Software Developer at <a href="https://elastic.co" target="_blank" itemprop="affiliation">Elastic.co</a>
                <br>

                Located in
                <span itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                  <span itemprop="addressLocality">Tølløse</span>,
                  <span itemprop="addressCountry">Denmark</span>
                </span>
                <br>
                <br>

                <a class="award" href="https://www.codewars.com/users/omegahm">
                  <img src="https://www.codewars.com/users/omegahm/badges/micro" itemprop="award" alt="Codewars Award">
                </a>
              </span>
            </small>
          </p>
        </span>
      </header>
    </aside>

    <main>
      <article>
