<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | {{ site.website }}</title>

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="author" href="https://plus.google.com/u/1/101353225056422469688">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43929022-2', 'omegahm.github.io');
      ga('send', 'pageview');
    </script>
  </head>
  <body class="clear" itemscope itemtype="http://schema.org/Blog">
    <aside class="clear">
      <header>
        <h1 itemprop="name">
          <a href="/" itemprop="url">
            {{ site.name }}
          </a>
        </h1>

        <p>My little corner of the web</p>

        <span itemprop="author" itemscope="author" itemtype="http://schema.org/Person">
          <img src="/img/face.jpeg" class="img-circle" alt="Ohm" itemprop="image" />

          <p class="about">
            <small>
              <span itemprop="name">Mads Ohm Larsen</span>,
              <span itemprop="description">
                lead developer at
                <a href="http://www.autobutler.dk" target="_blank" itemprop="worksFor">Autobutler.dk</a>,
                Ruby on Rails magician, fun at work, <a href="http://projecteuler.net/profile/omegahm.png" taget="_blank" itemprop="award">trying hard</a>
              </span>
            </small>
          </p>
        </span>

        <nav class="pages">
          <ul>
            <li>
              <a href="/files/cv.pdf">
                <i class="fa fa-star"></i>
                CV
              </a>
            </li>

            <li>
              <a href="/wishlist.html">
                <i class="fa fa-gift"></i>
                Wishlist
              </a>
            </li>

            <li>
              <a href="/files/bachelors.pdf">
                <i class="fa fa-flask"></i>
                Bachelor Thesis
              </a>
            </li>

            <li>
              <a href="/files/thesis.pdf">
                <i class="fa fa-flask"></i>
                Master Thesis
              </a>
            </li>

            <li>
              <a href="/files/thesisslides.pdf">
                <i class="fa fa-flask"></i>
                Slides for Master Thesis
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <footer>
        <nav class="links">
          <a href="//github.com/omegahm">
            <i class="fa fa-github-square fa-2x"></i>
          </a>

          <a href="//facebook.com/omegahm">
            <i class="fa fa-facebook-square fa-2x"></i>
          </a>

          <a href="//twitter.com/madsohm">
            <i class="fa fa-twitter-square fa-2x"></i>
          </a>

          <a href="//dk.linkedin.com/in/madsohm">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>

          <a href="https://plus.google.com/u/1/101353225056422469688?rel=author">
            <i class="fa fa-google-plus-square fa-2x"></i>
          </a>
        </nav>
        <p>
          <small>
            Hosted on GitHub Pages
          </small>
        </p>
      </footer>
    </aside>
    <main>
      <article>
