$asideTextColor: white
$asideHoverTextColor: #ecf0f1
$asideHoverColor: #9b59b6
$asideBackground: #8e44ad
$calloutBackground: #f4f8fa
$calloutBorder: #bce8f1
$calloutHeader: #34789a
$calloutLinkColor: #8e44ad

body
  font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 300

h1, h2, h3, h4, h5, h6
  font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif

code, kbd, pre, samp
  font-family: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace
  font-weight: 500

ul li
  padding: 2px 0

aside
  background: $asideBackground
  bottom: 0
  left: 0
  position: relative
  text-align: center
  top: 0
  width: auto

  header
    padding-top: 20px

    h1 a
      &:hover, &:focus
        font-weight: 500

  h2
    margin-top: 0

  &, a, a:visited
    color: $asideTextColor

  a
    &:hover, &:focus
      color: $asideHoverTextColor
      text-decoration: none
      font-weight: 300

      & > .fa
        text-decoration: none

aside#head
  padding-bottom: 20px

main
  article
    padding: 0 10px 10px

    div p
      padding-top: 10px

  a:hover
    &, & > .fa
      text-decoration: underline

.about
  margin: 0 50px
  padding-top: 10px

  a
    text-decoration: underline

    &:hover, &:focus
      font-weight: 300

  a.award
    text-decoration: none

    img
      margin: 5px auto

    &.project-euler img
      height: 50px


.about .name
  font-size: 120%

.links
  padding: 20px 0

  a:not(:last-child)
    padding-right: 10px

.pages
  font-size: .85em
  padding-top: 20px
  padding-bottom: 30px

  ul.nav.nav-pills.nav-stacked
    text-align: left
    list-style: none
    margin: 0
    padding: 0

    li a, li a:hover
      padding-top: 5px
      padding-bottom: 5px

    li:hover, li a:hover
      background-color: $asideHoverColor

  li.current
    &, & > a, & > a:hover, & > a:focus
      font-weight: bold

.tag-list .tag
  font-size: 10px

.callout
  background-color: $calloutBackground
  border-left: 3px solid $calloutBorder
  margin: 5px auto 15px
  padding: 5px 20px 15px

  &:last-child
    margin-bottom: 5px

  p
    margin: 0 0 10px

    &:last-child
      margin-bottom: 0

  .tags
    font-size: 17px

  h4.lead
    color: $calloutHeader
    margin-bottom: 5px

    a
      color: $calloutLinkColor

.amazon-wish
  @extend .pull-left
  margin-right: 10px

.wish-categories
  padding-top: 10px

img.wish-image
  max-width: 125px
  max-height: 125px
  margin-right: 5px

ul.wish-list
  padding-left: 10px

  li
    list-style: none
    padding: 5px 0

// Bootstrap override
.panel-default > .panel-header
  background-color: $asideBackground

@media (max-height: 730px)
  .about a.award
    display: none

@media (min-width: 600px)
  aside
    position: fixed
    width: 320px

    & > footer
      bottom: 0
      left: 0
      position: absolute
      right: 0

  aside#foot
    top: inherit

  main
    margin: 0 0 0 320px

    article
      padding: 0 50px 50px
