---
layout: default
title: Ønskeseddel
permalink: /wishlist/da.html
---

<div class="page-header">
  <h1>
    <i class="fa fa-gift"></i>
    Ønskeseddel
  </h1>
</div>

{% for category in site.wish_categories %}
  <h4>{{ category.title_da }}</h4>
  <ul>
    {% for wish in category.wishes %}
      <li>
        {% if wish.url %}
          <a href="{{ wish.url }}">
            {% if wish.title_da %}{{ wish.title_da }}{% else %}{{ wish.title }}{% endif %}
          </a>
        {% else %}
          {{ wish.title_da }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}
