---
layout: default
---
<div itemscope itemtype="http://data-vocabulary.org/BlogPosting">
  <div class="page-header">
    <small>
      <a href="/">
        <i class="fa fa-arrow-left"></i> Back to frontpage
      </a>
    </small>

    <h1 itemprop="name headline">{{ page.title }}</h1>
  </div>

  <p class="text-muted" itemprop="datePublished">
    {{ page.date | date_to_long_string }}
  </p>

  <div class="post" itemprop="articleBody">
    {{ content }}
  </div>

  <div id="disqus_thread"></div>
</div>
